<ul>
	<li>
		<a href="{{ site.url }}/bluejay" title="Home">Home</a>
	</li>
	<li>
		<a href="{{ site.url }}/bluejay/about" title="About cyber harassment">About cyber harassment</a>
	</li>
	<li>
		<a href="{{ site.url }}/bluejay/prevention" title="How to prevent cyber harassment">Preventing it</a>
	</li>
	<li>
		<a href="{{ site.url }}/bluejay/fighting" title="How to fight cyber harassment">Fighting it</a>
	</li>
	<li>
		<a href="{{ site.url }}/bluejay/victims" title="Victims of cyber harassment">Victims of it</a>
	</li>
	<li>
		<a href="{{ site.url }}/bluejay/resources" title="Helpful resources, references, and credits">Resources</a>
	</li>
</ul>
