<ul>
	<li>
		<button onclick="window.location='{{ site.url }}/bluejay';" title="Home">Home</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/bluejay/about';" title="About cyber harassment">About cyber harassment</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/bluejay/prevention';" title="How to prevent cyber harassment">Preventing it</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/bluejay/fighting';" title="How to fight cyber harassment">Fighting it</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/bluejay/victims';" title="Victims of cyber harassment">Victims of it</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/bluejay/resources';" title="Helpful resources, references, and credits">Resources</button>
	</li>
</ul>
