<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="guide, cyber harassment, cyberbullying, cyber stalking">
  <meta name="author" content="lys">

  <title>{{page.title}} {{ site.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

  <script src="//static.tumblr.com/ihhnoee/12Cotb0p2/jquery.style-my-tooltips.js"></script>

  <script>
    (function($){
      $(document).ready(function(){
        $("a[title]").style_my_tooltips({
          tip_follows_cursor:false,
          tip_delay_time:100,
          tip_fade_speed:300,
          attribute:"title"
        });
      });
    })(jQuery);
  </script>
  <script>
    $(document).ready(function(){
      $("i#toggle-open").click(function(){
        $("nav.nav-menu").addClass("open");
      });
    });
  </script>

  <link href="/bluejay/cssreset.css" rel="stylesheet">
  <link href="/bluejay/index.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/bluejay/img/bluejayb.png">

</head>
<body> 

  <div id="mobile-header">
    <a href="/bluejay" class="headerlink"><p style="text-align: center;"><img src="/bluejay/img/bluejayw.png" class="img-fluid logo"></p>
      <h1>Blue Jay <span>Cyber Harassment Survival Guide</span></h1></a>

      <div id="mobile-menu"> <i class="nav-toggle fa fa-2x fa-bars" aria-hidden="true" id="toggle-open"></i></div>
      <nav class="nav-menu">

        <a href="/bluejay" class="headerlink"><p style="text-align: center;"><img src="/bluejay/img/bluejayw.png" class="img-fluid logo" id="toggle-close"></p>
          <h1>Blue Jay <span>Cyber Harassment Survival Guide</span></h1></a>


          {% include categories3.html %}

        </nav>

      </div>
      <a href="/bluejay" class="headerlink"><div id="header">
        <p style="text-align: left;"><img src="/bluejay/img/bluejayw.png" class="img-fluid logo"></p>
        <h1>Blue Jay <span>Cyber Harassment Survival Guide</span></h1>

      </div></a>
      <div id="menu" id="top">

        {% include categories.html %}


      </div>
      <div class="container-fluid">


        <div id="main-area">



          <div id="content">
            <div id="innerinnercontent">
              {{content}}

            </div>


          </div>

        </div>

      </div>
      <div id="footer">
        <div id="footer-widgets">

          {% include widget_about.html %}
          {% include widget_categorymenu.html %}

        </div>


      </div>
      {% include credits.html %}
    </body>
    </html>
